{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <!-- import Google Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>
<body>
    <!-- import js -->
    <script type="text/javascript" src="{% static 'tvmvis/chart.js' %}"></script>
    <script type="text/javascript">
        var charDatas = JSON.parse('{{ serialized_datas|safe }}');
        var charTitles = JSON.parse('{{ serialized_titles|safe }}');

        drawLineChartByTitle(charDatas, charTitles[0], 'chart_div2');
        updateLineChart(charTitles[1], 'chart_div2');
    </script>
    <div id="chart_div1" style="width: 700px; height: 300px;"></div>
    <div id="chart_div2" style="width: 700px; height: 300px;"></div>


</body>
</html>